<ul class="ingredients">
    <!--<li *ngFor="let ingrTested of test.ingredientsTested">

        <span class="badge">
            {{ingrTested.ingredient.name}}
            <input [(ngModel)]="ingrTested.amount" placeholder="amount" required/>
            and units
            <input [(ngModel)]="ingrTested.units" placeholder="units" required/>
        </span>
    </li>-->


    <li *ngFor="let ingrTested of test.ingredientsTested">
        <span class="text">{{ingrTested.ingredient.name}}</span>

            <!-- Parameter selection -->
            <select #parameterSelect id="select" name="selection">
                <option value="" disabled selected>Parameter</option>
                <option *ngFor="let parameter of parameters" 
                    [value]="parameter.id">{{parameter.name}}</option>
            </select>
            <input #parameterValue placeholder="value" />
            <button (click)="addParameterTested(ingrTested, parameterSelect.value, parameterValue.value); 
                parameterSelect.value=''; parameterValue.value=''">Add</button>
        
        <div>
        <ul class="parameters">
            <li *ngFor="let parameterIngredient of ingrTested.parametersIngredient">
                <span class="badge">{{parameterIngredient.parameter.name +': '+ parameterIngredient.value}}
                    <button class="delete" (click)="deleteParameterTested(ingrTested, parameterIngredient); 
                        $event.stopPropagation()">x</button>
                </span>
            </li>
        </ul>
        </div>
        <!--<div *ngIf="isCurrentDirection(direcTested)">
            <button *ngIf="currentDirection > 1" (click)="goBackDirection()">Back</button>
            <button *ngIf="test.directionsTested.length > currentDirection" (click)="goNextDirection()">Next</button>
        </div>-->
    </li>



</ul>