.ingredients {
	margin: 0 0 0 2em;
	list-style-type: none;
	padding: 0;
}
.ingredients input {
	height: 1.5em;
	font-size: .8em;
	padding-left: .4em;
	margin: .5em 0;
	width: 5em;
}
.ingredients li {
    position: relative;
    left: 0;
    margin: .5em;
}
.ingredients .badge {
	display: inline-block;
	color: white;
	padding: .3em;
	vertical-align: middle;
	background-color: #607D8B;
	line-height: 1em;
	height: 2em;
	border-radius: 4px 4px 4px 4px;
}