.directions {
	margin: 0 0 0 2em;
	list-style-type: none;
	padding: 0;
	/*width: 25em;*/
}
.directions li {
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .4em;
	border-radius: 4px;
}
.directions li.current {
	background-color: #e0d2e0 !important;
	color: white;
}
.directions .badge {
	display: inline-block;
	position: relative;
	background-color: #607D8B;
	border-radius: 4px;
	color: white;
	padding: .5em;
	vertical-align: top;
}
.directions .text {
	position: relative;
	display: inline-block;
	/*width: 19em;*/
	margin: .5em;
}
.directions input {
	height: 1.5em;
	font-size: .8em;
	padding-left: .4em;
	margin: .5em 0;
	width: 10em;
}
/*.directions button {
	background-color: gray !important;
	color:white;
}*/

.parameters {
	margin: 0 0 0 2em;
	list-style-type: none;
	padding: 0;
	width: 20em;
}
.parameters li {
	position: relative;
	left: 0;
	background-color: #96abb6;
	margin: .2em;
	padding: .4em;
	border-radius: 4px;
}
.parameters li.current {
	background-color: #875e87 !important;
	color: white;
}
.parameters button.delete {
	float:right;
	margin-top: -.2em;
	margin-right: .4em;
	background-color: gray !important;
	color:white;
	padding: 4px 9px;
}